In [1]:
# !pip install pandas
# !pip install numpy 
# !pip install pandas numpy

In [7]:
import pandas as pd
df = pd.read_csv('Test_Loan_Home.csv') 
print(df.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001015   Male     Yes          0      Graduate            No
1  LP001022   Male     Yes          1      Graduate            No
2  LP001031   Male     Yes          2      Graduate            No
3  LP001035   Male     Yes          2      Graduate            No
4  LP001051   Male      No          0  Not Graduate            No

   ApplicantIncomeMonthly  CoapplicantIncomeMonthly  LoanAmountThousands  \
0                    5720                         0                110.0
1                    3076                      1500                126.0
2                    5000                      1800                208.0
3                    2340                      2546                100.0
4                    3276                         0                 78.0

   Loan_Amount_Term_Months  Credit_History Property_Area
0                    360.0             1.0         Urban
1                    360.0             1.0         Urban
2                    360.0             1.0         Urban
3                    360.0             NaN         Urban
4                    360.0             1.0         Urban

In [13]:
print(df.info())
print(df.describe())
print(df.nunique())
print(df.dtypes)
print(df.isnull().sum())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Loan_ID                   367 non-null    object
 1   Gender                    356 non-null    object
 2   Married                   367 non-null    object
 3   Dependents                357 non-null    object
 4   Education                 367 non-null    object
 5   Self_Employed             344 non-null    object
 6   ApplicantIncomeMonthly    367 non-null    int64
 7   CoapplicantIncomeMonthly  367 non-null    int64
 8   LoanAmountThousands       362 non-null    float64
 9   Loan_Amount_Term_Months   361 non-null    float64
 10  Credit_History            338 non-null    float64
 11  Property_Area             367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB
None
       ApplicantIncomeMonthly  CoapplicantIncomeMonthly  LoanAmountThousands  \
count              367.000000                367.000000           362.000000
mean              4805.599455               1569.577657           136.132597
std               4910.685399               2334.232099            61.366652
min                  0.000000                  0.000000            28.000000
25%               2864.000000                  0.000000           100.250000
50%               3786.000000               1025.000000           125.000000
75%               5060.000000               2430.500000           158.000000
max              72529.000000              24000.000000           550.000000

       Loan_Amount_Term_Months  Credit_History
count               361.000000      338.000000
mean                342.537396        0.825444
std                  65.156643        0.380150
min                   6.000000        0.000000
25%                 360.000000        1.000000
50%                 360.000000        1.000000
75%                 360.000000        1.000000
max                 480.000000        1.000000
Loan_ID                     367
Gender                        2
Married                       2
Dependents                    4
Education                     2
Self_Employed                 2
ApplicantIncomeMonthly      314
CoapplicantIncomeMonthly    194
LoanAmountThousands         144
Loan_Amount_Term_Months      12
Credit_History                2
Property_Area                 3
dtype: int64
Loan_ID                      object
Gender                       object
Married                      object
Dependents                   object
Education                    object
Self_Employed                object
ApplicantIncomeMonthly        int64
CoapplicantIncomeMonthly      int64
LoanAmountThousands         float64
Loan_Amount_Term_Months     float64
Credit_History              float64
Property_Area                object
dtype: object
Loan_ID                      0
Gender                      11
Married                      0
Dependents                  10
Education                    0
Self_Employed               23
ApplicantIncomeMonthly       0
CoapplicantIncomeMonthly     0
LoanAmountThousands          5
Loan_Amount_Term_Months      6
Credit_History              29
Property_Area                0
dtype: int64
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncomeMonthly', 'CoapplicantIncomeMonthly',
       'LoanAmountThousands', 'Loan_Amount_Term_Months', 'Credit_History',
       'Property_Area'],
      dtype='object')