In [1]:
# !pip install pandas
# !pip install numpy 
# !pip install pandas numpy

In [18]:
import pandas as pd
df = pd.read_csv('Test_Loan_Home.csv') 
print(df.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001015   Male     Yes          0      Graduate            No
1  LP001022   Male     Yes          1      Graduate            No
2  LP001031   Male     Yes          2      Graduate            No
3  LP001035   Male     Yes          2      Graduate            No
4  LP001051   Male      No          0  Not Graduate            No

   ApplicantIncomeMonthly  CoapplicantIncomeMonthly  LoanAmountThousands  \
0                    5720                         0                110.0
1                    3076                      1500                126.0
2                    5000                      1800                208.0
3                    2340                      2546                100.0
4                    3276                         0                 78.0

   Loan_Amount_Term_Months  Credit_History Property_Area
0                    360.0             1.0         Urban
1                    360.0             1.0         Urban
2                    360.0             1.0         Urban
3                    360.0             NaN         Urban
4                    360.0             1.0         Urban

In [19]:
print(df.info())
print(df.describe())
print(df.nunique())
print(df.dtypes)
print(df.isnull().sum())print(df.columns)

SyntaxError: invalid syntax (1847455152.py, line 5)

In [20]:
for col in df.columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype == 'object':
            df[col].fillna(df[col].mode()[0], inplace=True)
        else:
            df[col].fillna(df[col].mean(), inplace=True)
df = pd.get_dummies(df, drop_first=True)
for col in df.columns:
    df[col] = df[col].astype(int)
print(df.dtypes)

ApplicantIncomeMonthly      int64
CoapplicantIncomeMonthly    int64
LoanAmountThousands         int64
Loan_Amount_Term_Months     int64
Credit_History              int64
                            ...
Dependents_3+               int64
Education_Not Graduate      int64
Self_Employed_Yes           int64
Property_Area_Semiurban     int64
Property_Area_Urban         int64
Length: 380, dtype: object

C:\Users\Office\AppData\Local\Temp\ipykernel_6980\1697946029.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\Office\AppData\Local\Temp\ipykernel_6980\1697946029.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)